body{
    background-color: #FAFAFA;
}

img{
    width: 640px;
}

.topo{
    background-color: #333333;
    width: 100%;
    height: 64px;
    text-align: center;
}

.caixa_do_meme{
    width: 640px;
    height: auto;
    background-color: #FFFFFF;
    margin: 30px auto 0 auto;
    border-width: 1px;
    border-color: #EAEAEA;
    box-shadow: 1px 1px 1px grey;
}

.titulo_meme{
    width: 640px;
    font-size: 48px;
    color: #AA4653;
    margin: 30px;
    font-weight: bold;

}

.legenda_meme{
    margin: 0 30px 30px 30px;
    padding-bottom: 30px;
}